<html>

  <head>
    <meta charset="utf-8"/>
    <title>Anagram Engine</title>
  </head>

  <body>
    {% if user %}
      <p>{{ message }}</p>
      <p>{{ user.email() }}
        is logged in.</p>
      <form method="post" action="/">
        Add Anagram:
        <br>
        <input type="text" name="anagram"/>
        <input type="submit" name="add" value="Add"/>
        <input type="submit" namw="search" value="Search"/>
      </form>
      <p>Your anagrams:</p>
      {% for anagram in anagrams %}
        {{ loop.index }}:
        {% for word in anagram.words %}
          {{ word }}
        {% endfor %}
        <br>
      {% endfor %}

    {% else %}
      <p>You are not logged in. Login below:</p>
    {% endif %}
    <p>
      <a href='{{ url }}'>{{ url_string }}</a>
    </p>
  </body>

</html>