<html>

  <head>
    <meta charset="utf-8"/>
    <title>Search results</title>
  </head>

  <body>

    <p>Search results:</p>
    {% if isNumberSearch %}
      <!-- user searched for words with a specific lenght -->
      This is a number search
    {% else %}
      <!-- user searched for anagrams of a word -->
      {% if searchResult %}
        Your Search result:
        {% for item in searchResult %}
          {{ item }}
        {% endfor %}
      {% else %}
        No anagrams found for this word!
      {% endif %}

      {% if numberResult %}
        Test
      {% endif %}
    {% endif %}

    <form method="get" action="/">
      <input type="submit" value="Back"/>
    </form>

  </body>

</html>