<html>

  <head>
    <meta charset="utf-8"/>
    <title>Anagram Engine</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
  </head>

  <body>
    <div class="header">
      Anagram engine
    </div>
    <div class="content">
      <p>{{ user.email() }}
        is logged in.</p>
      <form method="post" action="/">
        <u>Add/ Search Anagram:</u>
        <br>
        <input type="text" class="text_input" name="anagram"/><br>
        <input type="submit" class="button_half" name="button" value="Add"/>
        <input type="submit" class="button_half" name="button" value="Search"/>
        <br>
        <br>
        <u>Show all anagrams with</u>
        <input type="number" class="number_input" name="number"/>
        <u>letters:</u>
        <input type="submit" class="button_full" name="button" value="Show"/>
      </form>
      <p>Your anagrams:</p>
      <ul>
        {% for anagram in anagrams %}
          <li>
            <b>{{ anagram.sortedWord }}</b>
            {% for word in anagram.words %}
              {{ word }}
            {% endfor %}
          </li>
          <br>
        {% endfor %}
      </ul>
    </div>
    <a href="{{ url }}">
      <div class="footer">
        Logout
      </div>
    </a>
  </body>

</html>