<html>

  <head>
    <meta charset="utf-8"/>
    <title>Search results</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
  </head>

  <body>
    <div class="header">
      Search results:
    </div>
    <div class="content">
      {% if isNumberSearch %}
        <!-- user searched for words with a specific lenght -->
        {% if searchResult %}
          These are your results:<br>
          <ul>
            {% for anagram in searchResult %}
              <li>
                <b>{{ anagram.sortedWord }}</b>
                {% for word in anagram.words %}
                  {{ word }}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No words found with this length.
        {% endif %}
      {% else %}
        <!-- user searched for anagrams of a word -->
        {% if searchResult %}
          Your Search result:
          {% for item in searchResult %}
            {{ item }}
          {% endfor %}
        {% else %}
          No anagrams found for this word!
        {% endif %}

        {% if numberResult %}
          Test
        {% endif %}
      {% endif %}
    </div>

    <a href="/">
      <div class="footer">
        Back
      </div>
    </a>

  </body>

</html>